.flex-1 {
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: 16px;
    padding: 16px;

    border: 1px solid plum;
    border-radius: 4px;
}

.flex-2 {
    width: 100%;
    gap: 16px;
    padding: 16px;

    border: 1px solid skyblue;
    border-radius: 4px;
}

.merge-border {
    width: 100%;
    padding: 16px;

    border: 1px solid slategray;
    border-radius: 4px;
}

.merge-cursor {
    width: 100%;

    cursor: pointer;

    border: 2px solid slategray;
    border-radius: 4px;
}
